language: python
sudo: false
cache:
  pip: true
  directories:
    - eggs
python: "2.7"
firefox: "latest"
before_install:
  - wget https://github.com/mozilla/geckodriver/releases/download/v0.19.1/geckodriver-v0.19.1-linux64.tar.gz
  - mkdir geckodriver && tar zxvf geckodriver-v0.19.1-linux64.tar.gz -C geckodriver
  - export PATH=$PATH:$PWD/geckodriver
install:
  - python bootstrap.py
  - bin/buildout -t 30
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - "export ROBOT_HTTP_PORT=55001"
script: bin/test
