include *.rst
include *.txt

graft src
recursive-include docs LICENSE.*

global-exclude *.pyc

# added by check_manifest.py
include *.py
include .travis.yml
include buildout.cfg
include development.cfg
